@import "~bootstrap/scss/bootstrap.scss";

#trafficTop{
    width: 2vh; 
    height: 7vw; 
    background: black;
}

.light{
    //width: 7vh;
    height: 7vw;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.selected{
    box-shadow: 0 0 80px rgb(255, 252, 228);
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
